<div id="workoutFormContainer">

<h3 id="heading">Add New Workout</h3>

<div class="container">
<section>
<form action="/workouts" method="post">


<label >Name </label>
<input type="text" name="name"> <br>
<label > Description </label>
<input type="text" name="description"> <br>
<label >Instructions </label> <br>
<textarea id ="instructions" type="text" name="instructions"></textarea> <br>
<label >Workout Time (minutes)</label>
<input type="text" name="workout_time"> <br>
<label >Experience Needed </label>
<input type="text" name="experience_needed"> <br>
<label >Equipment Needed </label>
<input type="text" name="equipment_needed"> <br>
<input id="addButton" type="submit" value="Add Workout">



</form>
</section>
</div>
</div>
