<h3 id="heading">Add a Workout</h3>

<div class="container">
<section>
<form action="/workouts" method="post">


<label >Name: </label>
<input type="text" name="name"> <br>
<label > Description: </label>
<textarea row="12" cols="12" type="text" name="description"></textarea> <br>
<label >Instructions: </label>
<textarea row="12" cols="12" type="text" name="instructions"></textarea> <br>
<label >Workout Time: </label>
<input type="text" name="workout_time"> <br>
<label >Experience Needed: </label>
<input type="text" name="experience_needed"> <br>
<label >Equipment Needed: </label>
<input type="text" name="equipment_needed"> <br>
<input type="submit" value="Add Workout">



</form>
</section>
</div>
