* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/workout_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#homePageContainer {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  align-items: center;
}

#appName {
  color: coral;
  font-size: 90px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#homePageForm {
  background: #212529;
  height: fit-content;
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  color: white;
  border: solid 1px #212529;
  border-radius: 10%;
  opacity: 0.9;
}

hr {
  width: 100%;
}

#logIn,
#signUp {
  text-align: center;
}

input {
  margin-bottom: 0.2rem;
  width: 100%;
}

#submit {
  width: 100%;
}

#logo {
  color: coral;
  padding-left: 1rem;
}

#toggle {
  width: auto;
}
#name {
  color: coral;
}

@media (max-width: 765px) {
  #heading {
    font-size: 20px;
  }
}

#heading {
  color: coral;
  text-align: center;
  margin-top: 1.5rem;
}

#workoutFormContainer {
  background: #212529;
  width: 50vw;
  height: 80vh;
  margin-top: 10vh;
  border: solid 1px black;
  border-radius: 10%;
  opacity: 0.9;
  position: absolute;
  margin-left: 25vw;
}

@media (max-width: 765px) {
  label {
    color: white;
    display: block;
    text-align: center;
  }
}

label {
  color: white;
}

#addButton {
  margin-top: 1rem;
}

#instructions {
  height: 200px;
  width: 100%;
}

#display {
  background-color: coral;
  margin-top: 1rem;
  width: 100%;
  font-weight: bold;
  opacity: 1;
}

ul {
  list-style: none;
}

#title {
  font-size: 20px;
  font-weight: bold;
}

#delete,
#edit {
  width: 100%;
  margin-top: 10px;
}

#siteIntro {
  font-size: 18px;
}
