<div id="workoutFormContainer">
<h3 id="heading">Welcome to Workout Swap - <%= @user.username.titleize %></h3>

<ul id="bullets">
<li id="display">
<br>
<br>
<p id="siteIntro">Welcome to Workout Swap, the home of home workouts. Here at Workout Swap we try and provide our users of all levels with workouts they can do from the comfort of their own home and which require minimal equipment. If you have made it this far it means you have succesfully signed up and/or logged in. Take a look at the navigation bar in the top right or by clicking the hamburger icon in the top left if you are on a mobile device. This homepage can be accessed at any time by clicking 'Home' or our logo! The 'My Workouts' button will take you to see all the workouts you have succesfully added to your account. How do I do that, you might be thinking? Go ahead and click the 'New Workout' button and you will be taken to a page where you can fill out a form to create your home workout. You can edit or delete a workout at any time by clicking the corresponding buttons on a workouts individual page. Worry not, only you have the ability to edit or delete your workout! By clicking the 'All Workouts' button you can see workouts others have added. You can also checkout the other users on the site by clicking 'All Users'. Finally you can complete or edit your profile by clicking the 'Profile' button. When you are done checking out workouts for the day, click 'Log Out'. </p>

<p id="siteIntro">Stay tuned because we have many more exciting stretch features coming your way soon!</p>

<p id="siteIntro">Now go get workout swapping and those biceps poppin'!</p>

<p id="siteIntro">Harry Wilson <br>
CEO Workout Swap&reg;</p>
<br>
<br>

</li>

</div>