<div class="container bg-dark float-right mr-5 border rounded border-dark">
    <h1 class="text-white">Welcome to your home for great workouts!</h1>
    <h3 class="text-white">Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a></h3>
</div>