<div id="welcome"class="container bg-dark float-none">
    <h1 class="text-white pt-5">Welcome to the Workout Locator App</h1>
    <h3 id="login" class="text-white">Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a></h3>
</div>